language: python
python:
  - "3.6"
  - "3.7"
install:
  - pip install -r REQUIREMENTS.txt
script:
  - coverage run --source=aviansoftwareminimumviableproduct -m unittest discover
after_success:
  - coveralls
